@import "../../assets/styles/variables";
@import "../../theme";

.tasks {
  padding: 0;
}

.tasks__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  padding: 3em 3vw;
}

.task__wrapper {
  display: flex;
  border-radius: 0.7em;
  box-shadow: $default-shadow;
  background: linear-gradient(#ffffff, #fdfdfd);
  cursor: pointer;
  transition: all ease-in-out 100ms;

  &:hover {
    transform: scale(1.02);
    box-shadow: $darker-shadow;
  }
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.1em 2.5em;
  background-color: transparent;
  box-shadow: none !important;
  box-sizing: border-box;
}

.task__title {
  position: relative;
  color: $default-font-color;
  font-size: 1.4em;
  font-weight: 500;

  &::after {
    content: "";
    display: inline-block;
    width: 35%;
    height: 0.2em;
    position: absolute;
    bottom: -0.7em;
    left: 0;
    border-radius: 0.7em;
    background-color: mat-color($my-custom-accent);
  }
}

.task__content {
  width: 100%;
  display: flex;
  margin-top: auto;
  padding: 0;
  justify-content: space-between;
}

.task__priority {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.17em;
}

.task__priority--high {
  background-color: mat-color($my-custom-warn);
}

.task__priority--low {
  background-color: $green;
}

.task__priority--mid {
  background-color: #f59214;
}

.task__status {
  font-size: 1.1em;
}

.mat-card-title {
  width: 100%;
  margin-bottom: 2em;
  word-break: break-word;
}

.tasks__menu {
  width: 100%;
  padding: 1.4em 7vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  background-color: #ffffff;
}

.mat-slide-toggle {
  font-size: 1.3em;
}

@media (max-width: 1200px) {
  .tasks__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .tasks__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .tasks__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .tasks__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
