<section class="tasks section">
  <h2 class="visually-hidden">Tasks</h2>
  <div class="tasks__list">
    <div class="tasks__item task__wrapper"
                   color="accent"
                   *ngFor="let task of tasksList">
      <mat-card class="task">
        <mat-card-title class="task__title">{{task.title}}</mat-card-title>
        <mat-card-content class="task__content">
          <p class="task__status">{{task.status === 0 ? 'To do' : task.status === 1 ? 'In progress' : 'Done'}}</p>
          <p [ngClass]="task?.priority === 0 ? 'task__priority--low' :
                        task?.priority === 1 ? 'task__priority--mid'
                        : 'task__priority--high'"
             class="task__priority"></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
