<section class="new-task section">
  <h2 class="visually-hidden">New task creator</h2>
  <form *ngIf="!isSaved" class="new-task__wrapper form" [formGroup]="newTaskForm">
    <button (click)="close($event)" type="button" class="form__close-btn">
      <span></span>
    </button>
    <h3 class="form__title new-task__title">New task</h3>
    <mat-error class="new-task__error" *ngIf="!title.valid && isSubmitted">{{getErrorMessage()}}</mat-error>
    <mat-form-field color="accent" class="new-task__input-wrapper" appearance="outline">
      <mat-label>Title</mat-label>
      <mat-error *ngIf="!title.valid && isSubmitted">{{getErrorMessage()}}</mat-error>
      <input formControlName="title" class="new-task__input" matInput required>
    </mat-form-field>
    <mat-form-field color="accent" class="new-task__input-wrapper" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <mat-form-field color="accent" class="new-task__input-wrapper" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option (change)="setValue('status', 0)" value="0">To do</mat-option>
        <mat-option (change)="setValue('status', 1)" value="1">In progress</mat-option>
        <mat-option (change)="setValue('status', 2)" value="2">Done</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent" class="new-task__input-wrapper" appearance="outline">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option (change)="setValue('priority', 0)" value="0">Low</mat-option>
        <mat-option (change)="setValue('priority', 1)" value="1">Moderate</mat-option>
        <mat-option (change)="setValue('priority', 1)" value="2">High</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="new-task__input-wraper" color="accent" appearance="outline">
      <mat-label>Deadline</mat-label>
      <input formControlName="deadline" matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button (click)="saveTask($event)" class="new-task__btn" mat-raised-button color="accent">Save</button>
  </form>
  <app-popup-message class="new-task__popup"
                     *ngIf="isSaved"
                     type="success"
                     message="New task successfully saved!">
  </app-popup-message>
</section>
