@import "../../../assets/styles/variables";
@import "../../../theme";
@import "../../../assets/styles/mixins";

.new-task__error {
  margin-bottom: 1em;
  font-size: 1.1em;
}

.new-task__input-wrapper {
  margin-bottom: 0.5em;
}

.new-task__input {
  border-radius: 0.8em;
}

.new-task__btn {
  @include button;
  color: #ffffff !important;
  margin-top: 1.5em;

  &:hover {
    color: $white;
    background-color: darken(mat-color($my-custom-accent), 2%);
  }
}
