@import "../../../assets/styles/variables";
@import "../../../theme";

.new-task__error {
  margin-bottom: 1em;
  font-size: 1.1em;
}

.new-task__input-wrapper {
  margin-bottom: 0.5em;
}

.new-task__input {
  border-radius: 0.8em;
}

.new-task__btn {
  font-size: 1.2em;
  padding: 0.6em 1em;
  color: #ffffff;
  margin-top: 1.5em;
  box-shadow: $default-shadow;

  &:hover {
    color: $white;
    box-shadow: $darker-shadow;
    background-color: darken(mat-color($my-custom-accent), 2%);
  }
}
