@import "../../theme";

.nav-bar {
  height: 100%;
  display: flex;
}

.nav-bar__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.7em 0.3em;
  width: 3.6em;
  height: 100%;
  background-color: #ffffff !important;
}

.nav-bar__btn {
  display: flex;
  width: 3.6em;
  height: 3em;
  border-radius: 0;

  & mat-icon {
    font-size: 3.6em;
    color: mat-color($my-custom-accent);
    transition: color ease-in-out 100ms;
  }

  &:hover mat-icon {
    color: darken(mat-color($my-custom-accent), 10%);
  }
}

.nav-bar__container {
  position: static !important;
  flex-grow: 2;
}

.nav-bar__content {
  padding: 0.7em;
}

.nav-bar__link {
  display: flex;
  align-items: baseline;

  &:first-child {
    background-color: lighten(mat-color($my-custom-accent), 10%);
    border-radius: 0.7em;
  }

  & mat-icon {
    font-size: 1.7em;
    margin-right: 0.3em;
    margin-bottom: 0.17em;
  }

  & span {
    font-size: 1.15em;
  }
}

.mat-list-item:first-child {
  background-color: transparent !important;
}

.mat-list-item {
  margin-bottom: 0.5em;

  &:hover {
    background-color: mat-color($my-custom-primary) !important;
  }
}

.mat-list-item:nth-child(2) {
  border-radius: 0.7em;
  background-color: mat-color($my-custom-accent) !important;

  &:hover {
    background-color: darken(mat-color($my-custom-accent), 10%) !important;
  }
}
