<section class="nav-bar">
  <h2 class="visually-hidden">Menu</h2>

  <mat-sidenav-container class="nav-bar__container">
    <mat-sidenav class="nav-bar__content" #nav mode="side">
      <mat-nav-list class="nav-bar__list">
        <a class="nav-bar__link" mat-list-item>
          <mat-icon>add_circle_outline</mat-icon>
          <span>Add new item</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>

  <mat-toolbar class="nav-bar__btn-wrapper">
    <button class="nav-bar__btn" mat-icon-button (click)="nav.toggle()">
      <mat-icon color="white">menu</mat-icon>
    </button>
  </mat-toolbar>
</section>
